/* 
font-family: 'Combo', cursive;
font-family: 'Handlee', cursive;
font-family: 'Merriweather', serif;
font-family: 'Noto Serif', serif;
font-family: 'Roboto Mono', monospace;
 */


*{
    color:white;
    border: 0px;
    margin: 0px;
    padding: 0px;
}

body{
    background: rgb(1,9,80);
    background: linear-gradient(0deg, rgba(1,9,80,1) 0%, rgba(61,179,173,1) 100%);
    background-repeat:no-repeat;
    background-size: cover;
    min-height: 100vh;
    min-width: 100vw;
    overflow-x: hidden;
}

.foto_perfil{
    margin-top: 50px;
    width: 180px;
    border-radius: 50%;
    box-shadow: 0 0 7px white;
    border: 1px solid white ;    
}

h1{
    font-family: 'Noto Serif', serif;
    letter-spacing: 20px;
    font-size: 200%;
    font-weight: 300;
    font-style: italic;
    margin: 10px 0px;
}

h2{
    font-family: 'Roboto Mono', monospace;
    font-weight: 200;
    letter-spacing: 10px;
    font-size: 150%;
    margin-bottom: 20px;
}

ul{
    list-style: none;
}

.introducao{
    text-align: center;
    margin-bottom: 25px;
}


/* 
as imagens de redes sociais e os 
nomes para estarem alinhados, é necessário
estabelecer o position das imagens em relative
e do nome em absolute
coloquei o padding dos nomes em auto também
*/

.social-images{
    width: 30px;
    padding-right: 10px;
}

.lista_links{
    width: 80vh;
}

.lista_links li a {
    font-style: bold;
    background-color: rgb(236, 236, 236);
    text-shadow: 0 0 3px rgba(194, 194, 194, 0.623);
    text-align: center;
    text-decoration: none;
    color:rgb(39, 39, 85);
    font-family: 'Prompt', serif;
    font-weight: 600;
    letter-spacing: 6px;
    font-size:18px;
    width: 100%;
    padding: 20px;
    border-radius: 25px;
    border: 2px solid rgba(61,179,173,0.2);
}

.lista_links ul{
    display: flex;
    flex-direction: column;
}

.lista_links li a:hover{
    background-color: rgb(231, 255, 254);
    box-shadow: 0 0 5px white;
    text-shadow: 0 0 2px rgba(80, 236, 229, 0.575);
    border: 2px solid rgba(61,179,173,0.4);

}

.lista_links li{
    display: flex;
    padding: 20px;
    border-radius: 25px;
}

.lista_links li span{
    margin: 4px 0px;
    display: block;
    text-decoration: none;
    color:rgb(34, 34, 34);
    letter-spacing: 2px;
    font-size:80%;
    font-weight: 500;
    padding-left: 10px;
}

.div_lista_links{
    display: flex;
    justify-content: center;
    margin: 30px 0px;
}

.titulo_redes{
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-names{
    text-decoration: none;
    color:rgb(0, 0, 0);
    font-family: 'Prompt', serif;
    font-weight: 600;
    letter-spacing: 6px;
    font-size:95%;
}
