/* font-family: 'Caveat', cursive;
font-family: 'IM Fell English', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Sriracha', cursive; */

*{
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
    font-weight: 400;
}

html,body{
    height: 100%;

    background-color: white;
    /* 
    background: rgba(241, 238, 238, 0.13); */
    /* background: linear-gradient(338deg, rgba(28, 20, 122, 0.274) 0%, rgba(92, 50, 124, 0.233) 100%); */

}

.header{
    text-align: center;
    padding: 30px 0;
    background-image: url(/desafio_html_inter/imgs/background-2.jpg);
    background-position: center;
    background-repeat:no-repeat;
    background-size: 200% auto;

    color: aliceblue;
    display:block;
    
}

.logo-image{
    width: 8%;
}

.header-tittle{
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 4px;
    font-size: 200%;
    font-weight: 700;
}

.header-sub-tittle{
    font-family: 'Sriracha', cursive;
    font-size: 90%;
    letter-spacing: 1px;
}


.footer{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    padding: 20px 0;
    /* background-image: url(/HTML_INTERMEDIARIO/desafio1/imgs/background-2.jpg);
    background-position:bottom;
    background-repeat: no-repeat; */


    background: rgb(21, 12, 121);
    background: linear-gradient(45deg, rgb(37, 12, 150) 0%, rgb(126, 2, 184) 100%);
    color: aliceblue;
    display:block;
    position:fixed;
    top:auto;
    bottom: 0px;

    width: 100%;

    font-weight: 500;
    
}

.container{
    display: flex;
    height: auto;
    padding-bottom: 70px;
}

.nav-bar{
    width: 15%;
}

.nav-bar ul li{

    list-style: none;
    padding: 10px;
    background: rgb(22, 13, 121);
    background: linear-gradient(10deg, rgba(34, 26, 126, 0.993) 0%, rgb(128, 61, 179) 100%);
    margin: 8px;
    border-radius: 16px;
    box-shadow: 2px 2px 6px rgba(62, 0, 121, 0.555);

}
.nav-bar ul li a{
    text-decoration: none;
    color: white;
    padding-left: 5px;
    font-weight: 500;
}

.content{
    padding: 10px 6px;
    padding-left: 50px;
    padding-right: 40px;
    width: 85%;
    color: rgb(51, 8, 119)
}

.content h1{
    font-family: 'IM Fell English', cursive; 
    font-size: 160%;
    font-weight: 600;
    text-shadow: 2px 2px 6px rgba(63, 0, 121, 0.171);
    padding-left: 5px;
}

.content p{
    font-family: 'IM Fell English', cursive; 
    font-size: 100%;
    text-shadow: 2px 2px 15px white;
    padding-top: 10px;
    font-weight: 400;
    padding-bottom: 5px;
}

.team-content-image{
    height: 160px;
    padding: 0 0 10px 0;
}

.content-video{
    padding: 10px 0;
}

.content-tittle{
    padding-bottom: 0px;
}
