@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  color: white;
}

* body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #121417;
}

* body .hide {
  display: none;
}

* body .title {
  margin: 20px 0px;
  font-weight: 700;
}

* body .description {
  margin: 20px 0px;
  color: #959eac;
}

* body .rating {
  font-family: "Overpass", sans-serif;
  border-radius: 25px;
  width: 290px;
  height: 395px;
  padding: 25px;
  background-color: #1b2028;
}

* body .rating .starIcon {
  display: flex;
  border-radius: 50px;
  padding: 17px;
  width: 17px;
  height: 17px;
  text-align: center;
  justify-content: center;
  background-color: #252d37;
  color: #959eac;
  margin: 10px 0px 30px 0px;
}

* body .rating .classification {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 20px 0px;
}

* body .rating .classification .option {
  display: flex;
  border-radius: 50px;
  padding: 17px;
  width: 17px;
  height: 17px;
  text-align: center;
  justify-content: center;
  background-color: #252d37;
  color: #959eac;
  transition: all 200ms ease-in-out;
}

* body .rating .classification .option:hover {
  display: flex;
  border-radius: 50px;
  padding: 17px;
  width: 17px;
  height: 17px;
  text-align: center;
  justify-content: center;
  background-color: #fb7413;
  color: white;
  transition: all 200ms ease-in-out;
  cursor: pointer;
}

* body .rating .classification .selected {
  display: flex;
  border-radius: 50px;
  padding: 17px;
  width: 17px;
  height: 17px;
  text-align: center;
  justify-content: center;
  background-color: #959eac;
  color: white;
}

* body .rating .submitButton {
  display: flex;
  border-radius: 50px;
  padding: 17px;
  width: 17px;
  height: 17px;
  text-align: center;
  justify-content: center;
  background-color: #fb7413;
  color: white;
  width: auto;
  height: 20px;
  padding: 10px;
  margin: 20px 0px;
  transition: all 200ms ease-in-out;
}

* body .rating .submitButton:hover {
  display: flex;
  border-radius: 50px;
  padding: 17px;
  width: 17px;
  height: 17px;
  text-align: center;
  justify-content: center;
  color: #fb7413;
  background-color: white;
  padding: 10px;
  height: 20px;
  width: auto;
  margin: 20px 0px;
  transition: all 200ms ease-in-out;
  cursor: pointer;
}

* body .thankYou {
  border-radius: 25px;
  font-family: "Overpass", sans-serif;
  width: 290px;
  padding: 25px;
  background-color: #1b2028;
  text-align: center;
}

* body .thankYou .thankYouImage {
  margin: 30px auto;
}

* body .thankYou .ratingResult {
  font-size: 15px;
  margin: 10px auto;
  background-color: #252d37;
  color: #fb7413;
  border-radius: 50px;
  padding: 6px 15px;
  height: fit-content;
  width: fit-content;
  text-align: center;
  align-items: center;
}

* body .thankYou .title {
  margin: 20px;
}

* body .thankYou .description {
  margin: 30px 0;
}
